<div class="sidebar d-flex flex-column flex-shrink-0 justify-content-center p-3" style="width: 300px;">
    <a routerLink="" class="w-100 justify-content-center d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img class="logo" src="./assets/imagens/Logo.png" alt="">
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active" class="d-flex nav-link mb-3">
            <p><i class="fas fa-chart-line"></i></p>
            <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a routerLink="/unidades" routerLinkActive="active" class="d-flex nav-link">
            <i class="fas fa-list-ol"></i>
            <p>Unidade Consumidora</p>
        </a>
      </li>
      <li>
        <a routerLink="/cadastro" routerLinkActive="active" class=" d-flex nav-link">
            <i class="fas fa-cogs"></i>
            <p>Cadastro de energia gerada</p>
        </a>
      </li>
    </ul>
  </div>
