<div class="principal">
    <pro-sidebar></pro-sidebar>
    <div class="content">
        <div class="container title">
            <h1>Unidades</h1>
        </div>
        <div class="container">
            <h2>Lista de unidades</h2>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Apelido</th>
                    <th>Local</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let unidade of unidades">
                        <th>{{ unidade.id }}</th>
                        <th>{{ unidade.apelido | titlecase }}</th>
                        <th>{{ unidade.local | titlecase }}</th>
                        <th>{{ unidade.marca | titlecase }}</th>
                        <th>{{ unidade.modelo }}</th>
                        <th><button class="btn btn-success" (click)="editar(unidade.id)">Editar </button></th>
                        <th><button class="btn btn-danger" (click)="remover(unidade.id)"> Remover </button></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container novaUnidade">
            <button (click)="cadastroUnidades()">Nova Unidade</button>
        </div>
    

    </div>
</div>
